/target*
.tmp
**/*.svg
/tmp
/**/*.bundle
.direnv
.devenv*
devenv.local.nix
devenv.local.yaml
pkg/
**/.DS_Store
.env
/benchmark/*.csv*
profile.json
**/*.parquet
test/*.parquet

*.py
*.txt
.cursorrules
CLAUDE.md
.mcp.json*
arrow-rs
magnus
generate.py
